body {
    max-width: 500px;
    margin   : 50px auto;
}

legend {
    font-size: 25px;
}

.size {
    padding-bottom: 10px;
    border-bottom : 1px solid #000;
}

.additions {
    padding-bottom: 10px;
    margin-bottom : 10px;
    border-bottom : 1px solid #000;
}

.options {
    padding-bottom: 10px;
    border-bottom : 1px solid #000;
}